<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.project.bling.mapper.adminmapper.ad_order_deliveryMapper">
	<!-- 전체 주문 개수 -->
	<select id="orderCnt" resultType="int" parameterType="PageMaker">
		SELECT count(o.order_idx)
		FROM bg_order o
		LEFT OUTER JOIN bg_delivery d
		ON o.order_idx=d.order_idx
		<if test='kind!="all"'>WHERE d.deli_stat=#{kind}</if> 
	</select>

	<!-- 전체 주문 리스트(order_idx 내림차순) -->
	<select id="orderList" resultType="CombineVO" parameterType="PageMaker">
		SELECT o.order_idx,
			   count(o.order_idx) AS 'orderCompCnt',
			   DATE_FORMAT(o.rdate,'%Y-%m-%d') AS 'rdate',
			   u.uname,
			   p.pidx,
			   p.pname,
			   substring_index(op.oname,'+',1) AS 'oname',
			   od.quantity,
			   o.tot_price,
			   o.payment,
			   o.order_yn AS 'O_order_yn',
		       d.order_yn AS 'D_order_yn',
			   o.delivery_yn,
		       d.deli_stat,
		       d.invoice_num,
		       d.cancel,
		       d.refund,
		       d.exchange,
		       r.ridx,
		       DATEDIFF(sysdate(),d.deli_com) AS 'date_differ'
		FROM bg_product p
		LEFT JOIN bg_option op
		ON p.pidx=op.pidx
		
		LEFT JOIN bg_order_detail od
		ON op.oidx=od.oidx
		
		RIGHT JOIN bg_order o
		ON o.order_idx=od.order_idx
		
		JOIN bg_user u
		ON o.midx=u.midx
		
		LEFT JOIN bg_delivery d
		ON o.order_idx=d.order_idx
		
		LEFT JOIN bg_review r
        ON od.detail_idx=r.detail_idx
		<if test='kind!="all"'>WHERE d.deli_stat=#{kind}</if> 
		GROUP BY o.order_idx
		ORDER BY o.order_idx
		DESC
		LIMIT #{startPost},#{scri.perPageNum}
	</select>

	<!-- 출고버튼(관리자 주문리스트에서 order 테이블의 delivery_yn 컬럼을 Y로 바꾸기 -->
	<update id="prodStat" parameterType="CombineVO">
		UPDATE bg_order o
		LEFT OUTER JOIN bg_delivery d
		ON o.order_idx=d.order_idx
		SET 
		<if test='kind == "N"'>
		 o.order_yn='N',d.order_yn='N',o.delivery_yn='N',d.deli_stat='N',d.send_day = null,d.deli_com = null
		</if>
		<if test='kind == "Y"'>
		 o.order_yn='Y',d.order_yn='Y',o.delivery_yn='N',d.deli_stat='Y',d.send_day = null,d.deli_com = null
		</if>
		<if test='kind == "A"'>
		 o.order_yn='Y',d.order_yn='Y',o.delivery_yn='N',d.deli_stat='A',d.send_day = null,d.deli_com = null
		</if>
		<if test='kind == "B"'>
		 o.order_yn='Y',d.order_yn='Y',o.delivery_yn='Y',d.deli_stat='B',d.send_day = sysdate(),d.deli_com = null
		</if>
		<if test='kind == "C"'>
		 o.order_yn='Y',d.order_yn='Y',o.delivery_yn='Y',d.deli_stat='C',d.send_day = sysdate(),d.deli_com = sysdate()
		</if>
		WHERE o.order_idx=#{order_idx}
	</update>
	
	<!-- 배송중(B)으로 바꿀 때 송장번호 입력하기 -->
	<update id="invoice" parameterType="CombineVO">
		UPDATE bg_delivery
		SET invoice_num=#{invoice_num}
		WHERE order_idx=#{order_idx}
	</update>
	
	
	<!-- 전체 배송 개수 -->
	<select id="deliveryCnt" resultType="int" parameterType="Criteria">
		SELECT count(didx)
		FROM bg_delivery
		<if test='kind=="all"'>WHERE deli_stat='B' OR deli_stat='C'</if>
		<if test='kind=="B"'>WHERE deli_stat=#{kind}</if>
		<if test='kind=="C"'>WHERE deli_stat=#{kind}</if>
	</select>
	
	<!-- 전체 배송 리스트(didx 내림차순) -->
	<select id="deliveryList" resultType="CombineVO" parameterType="PageMaker">
		SELECT d.didx,
			   o.order_idx,
			   d.invoice_num,
		       u.uname,
		       d.send_day,
		       d.deli_com,
		       d.deli_stat
		FROM bg_delivery d
		RIGHT JOIN bg_order o
		ON d.order_idx=o.order_idx
		
		INNER JOIN bg_user u
		ON o.midx=u.midx
		
		<if test='scri.kind=="all"'>WHERE d.deli_stat='B' OR d.deli_stat='C'</if>
		<if test='scri.kind=="B"'>WHERE d.deli_stat=#{scri.kind}</if>
		<if test='scri.kind=="C"'>WHERE d.deli_stat=#{scri.kind}</if>
		ORDER BY d.didx
		DESC
		LIMIT #{startPost},#{scri.perPageNum}
	</select>
	
	<!-- 전체 취소/반품/교환 개수 -->
	<select id="returnCnt" resultType="int" parameterType="Criteria">
		SELECT 
		<if test='kind=="all"'>count(cancel)+count(refund)+count(exchange)</if>
		<if test='kind.contains("C")'>count(cancel)</if>
		<if test='kind.contains("R")'>count(refund)</if>
		<if test='kind.contains("E")'>count(exchange)</if>
		FROM bg_delivery
		<if test='kind=="CN"'>WHERE cancel='N'</if>
		<if test='kind=="CY"'>WHERE cancel='Y'</if>
		<if test='kind=="RN"'>WHERE refund='N'</if>
		<if test='kind=="RY"'>WHERE refund='Y'</if>
		<if test='kind=="EN"'>WHERE exchange='N'</if>
		<if test='kind=="EY"'>WHERE exchange='Y'</if>
	</select>
	
	<!-- 취소/반품/교환 -->
	<select id="returnList" resultType="CombineVO" parameterType="PageMaker">
		SELECT o.order_idx,
			   d.didx,
		       u.uname,
		       DATE_FORMAT(o.rdate,'%Y-%m-%d') AS 'rdate',
		       d.send_day,
		       d.deli_com,
		       d.deli_stat,
		       d.cancel,
		       d.refund,
		       d.exchange
		FROM bg_order o
		LEFT OUTER JOIN bg_delivery d
		ON o.order_idx=d.order_idx
		
		INNER JOIN bg_user u
		ON o.midx=u.midx
		
		<if test='scri.kind=="all"'>WHERE d.cancel=('Y' OR 'N') OR d.refund=('Y' OR 'N') OR d.exchange=('Y' OR 'N')</if>
		<if test='scri.kind=="C"'>WHERE d.cancel=('Y' OR 'N')</if>
		<if test='scri.kind=="CN"'>WHERE d.cancel='N'</if>
		<if test='scri.kind=="CY"'>WHERE d.cancel='Y'</if>
		<if test='scri.kind=="R"'>WHERE d.refund=('Y' OR 'N')</if>
		<if test='scri.kind=="RN"'>WHERE d.refund='N'</if>
		<if test='scri.kind=="RY"'>WHERE d.refund='Y'</if>
		<if test='scri.kind=="E"'>WHERE d.exchange=('Y' OR 'N')</if>
		<if test='scri.kind=="EN"'>WHERE d.exchange='N'</if>
		<if test='scri.kind=="EY"'>WHERE d.exchange='Y'</if>
		ORDER BY o.order_idx
		DESC
		LIMIT #{startPost},#{scri.perPageNum}
	</select>
	
	<!-- 취소/반품/교환 버튼(관리자 주문리스트에서 delivery 테이블의 cancel 또는 refund 또는 exchange 컬럼을 Y로 바꾸기 -->
	<update id="returnStat" parameterType="CombineVO">
		UPDATE bg_delivery
		SET 
		<if test='kind == "C"'>
		 cancel='Y'
		</if>
		<if test='kind == "R"'>
		 refund='Y'
		</if>
		<if test='kind == "E"'>
		 exchange='Y'
		</if>
		WHERE order_idx=#{order_idx}
	</update>
</mapper>