@charset "UTF-8";
/* 크기 */
	section{
		max-width:1008px;
		margin:  0px auto;
	}
	/* 클래스 붙이면 문자 크기 조정 */
	.title{
		font-size:25px;
		font-weight:900;
	}
	/* 클래스 붙이면 문자 가운데 */
	.text_center{
		text-align:center;
	}
	/* 조회문자 */
	.title2{
		text-decoration: none;
		color:black;
	}	
	.title2:hover{
		color:#CB7878;
	}
	/* 조회문자 */
	.title3{
		text-decoration: none;
		color:#C4C4C4;
	}	
	.title3:hover{
		color: #CB7878;
	}
	
	.title4{
		text-decoration: none;
		color: #CB7878;	
	}	
	.title4:hover{
		color:#C4C4C4;
	}
	/* 달력 크기 조절 */
	.calender{
		height:38px;
		vertical-align:middle;
		width:180px;
	}
	/* 설명문구 */
	#contents{
		text-align:center;
		color:#C4C4C4;
	}
	/* thead 테이블 모양 */
	#tr {
	 border-top:3px solid #C4C4C4;
	 border-bottom:3px solid #C4C4C4;
	 height:50px;
	 vertical-align:middle;
	 font-size: 18px;
	 color:#514F4F;
	}
	
	/* 이미지 크기 */
	.img{
		width:70px;
		height:70px;
	}
	
	.font14{
		font-size:14px;
		color:gray;
	}
	
	/* 배송조회, 배송중  */
	.deli{
		text-decoration-line: none;
		color: #000000;
	}
	
	.deli:hover{
		text-decoration-line: none;
		color: #989191;
	}
	
	/* 버튼 크기 */
	#btn_25{
		height:25px;
		padding-top:0px;
		padding-bottom:0px;
		margin-bottom:2px;
	}
	
	/* 클래스 추가하면 가져다 대면 손모양 나옴*/
	.pointer {
		cursor: pointer;
	}
	
	/* 모달 버튼 가운데로 오기*/
	#delivery_select2 {
		justify-content: center;
	}		
	/* 모달 버튼 */
	#modal_button1, .bling_color{
	background-color: #CB7878;
	}
		
	/* 모달 버튼 크기*/
	#modal_button1, #modal_button2{
		width:120px;
	}
		
	/* 모달창에 나오는 상품 이미지 크기  */
	.image_main{
		width:80px;
		height:80px;
	}
	.title {
		font-size:25px;
		font-weight:700;
	}
	
	/* modal */
		.modal {
	        text-align: center;
		}
		/* 모달창 배경색 */
		.modal-backdrop {
			background-color: #000000 !important;
			opacity: 0.3 !important;
		}
		.modal-dialog {
		        display: inline-block;
		        text-align: left;
		        vertical-align: middle;
		}
		.modal-header{
			background-color: #CB7878;
		}
		.modal-title{
			color: #ffffff;
			font-size: 30px;
			position: relative;
			left: 175px;
		}
		#modalText1{
			text-align: center;
			font-weight: bold;
			font-size: 20px;
		}
		#textArea1,#textArea2{
			width: 465px;
			height: 200px;
			resize: none;
			background-color: #C4C4C4;
			opacity: 0.5;
		}
		#textArea::placeholder{
			color: #000000;
		}
		#closeBtn{
			width: 80px;
			color: #000000;
			background-color: #ffffff;
			border: 2px solid #C4C4C4;
			position: relative;
			right: 150px;
		}
		#saveBtn{
			width: 80px;
			color: #ffffff;
			background-color: #CB7878;
			border: 2px solid #CB7878;
			position: relative;
			right: 150px;
		}
		#saveBtn:hover{
			color: #CB7878;
			background-color: #ffffff;
			border: 2px solid #CB7878;
		}
		#delBtn{
			width: 80px;
			color: #ffffff;
			background-color: #CB7878;
			border: 2px solid #CB7878;
			position: relative;
			right: 150px;
		}
		#delBtn:hover{
			color: #CB7878;
			background-color: #ffffff;
			border: 2px solid #CB7878;
		}
		#uploadDiv{
			width: 465px;
			height: 40px;
			background-color: #CB7878;
		}
		#uploadBtn{
			display: none;
		}
		.fileBtn{
			width: 465px;
			height: 40px;
		}
		#fileBtnText{
			font-size: 18px;
			color: #ffffff;
		}
		.bi-camera::before{
			margin: 0px 10px 0px 0px;
			font-size: 23px;
		}
		
		/* modal 2 */
		#rvPicDiv{
			width: 465px;
			height: 100px;
		}
		#rvPic1,#rvPic2{
			width: 100px;
			height: 100px;
			display: inline-block;
		}
		img{
			vertical-align: baseline !important;
		}
		.rvImg{
			width: 100%;
			height: 100%;
		}
		#prodData{
			width: 465px;
			height: 80px;
			display: inline-block;
		}
		#prodPic{
			width: 100px;
			height: 100px;
			display: inline-block;
		}
		#prodImg{
			width: 100%;
			height: 100%;
		}
		#prodDetail{
			width: 170px;
			height: 100px;
			display: inline-block;
		}
		#prodName{
			font-weight: bold;
		}
		#prodOption{
			color: #CB7878;
		}
		#prodQty{
			color: #CB7878;
		}
		#starRating{
			display: inline-block;
		}
		.bi-star{
			font-size: 20px;
		}
		.bi-star-fill{
			color: #FF3A00;
			font-size: 20px;
		}
	
	/* modal - star rating */
		.rating {
		    display: flex;
		    flex-direction: row-reverse;
		    justify-content: center
		}
		.rating>input {
		    display: none
		}
		.rating>label {
		    position: relative;
		    width: 1em;
		    font-size: 2vw;
		    color: #FF3A00;
		    cursor: pointer
		}
		.rating>label::before {
		    content: "\2605";
		    position: absolute;
		    opacity: 0
		}
		.rating>label:hover:before,
		.rating>label:hover~label:before {
		    opacity: 1 !important
		}
		.rating>input:checked~label:before {
		    opacity: 1
		}
		.rating:hover>input:checked~label:before {
		    opacity: 0.4
		}
		
	/*  페이징 번호들을 붙이기 위해서 */
	.page-item {
		padding: 0px;
	}
	#review{
		cursor: pointer;
	}
	#reviewWrite1{
		color: #CB7878;
		background-color: #ffffff;
		border: none;
		cursor: pointer;
		width: 70px;
	}
	#reviewWrite2{
		color: #000000;
		background-color: #ffffff;
		border: none;
		cursor: pointer;
		width: 70px;
	}
	#reviewWrite3{
		color: #C1B2B2;
		background-color: #ffffff;
		border: none;
		width: 70px;
		}
		