@charset "UTF-8";
header{
	max-width:1008px;
	height: 411.5px;
	margin:  0px auto;
}			
/* header home icon */
.bi-house-fill{
	font-size:18px;
	color:#000000;
	padding-left:20px;
}
/* header heart icon */
.header_heart{
	font-size:18px;
	color:red;
	float: none;
	padding: 0px;
}
#header_notice,#header_event,#customerCenter{
	text-decoration-line: none;
	color: #989191;
}
#header_notice:hover,#header_event:hover,#customerCenter:hover{
	text-decoration-line: none;
	color: #000000;
}
#header_notice1,#header_event1,#customerCenter1{
	text-decoration-line: none;
	color: #fff;
}
#header_notice1:hover,#header_event1:hover,#customerCenter1:hover{
	text-decoration-line: none;
	color: #000000;
}
#searchIcon,#cartIcon{
	text-decoration: none;
	color: #000000;
}
#headerCol1{
	word-spacing: 26px;
}
#headerCol2{
	text-align: right;
	height: 45px;
}
#headerRow1{
	height: 45px;
}
#headerRow2{
	height:64px;
}
#title_image{
	width:209px;
}
#headerCol3{
	text-align: center;
}
#headerCol4{
	text-align: right;
	padding: 10px;
}
#headerRow3{
	height: 88px;
	text-align: right;
	padding: 10px;
}
#headerRow4{
	height: 93.5px;
	text-align: right;
	padding: 10px;
}
#headerRow5{
	height: 45px;
}
#hearderMemberJoin,#headerLogin{
	text-decoration-line: none;
	color : #000000;
}

#hearderMemberJoin:hover,#headerLogin:hover{
	color:#989191;
}
#topSearch{
	float: right;
	margin-right: 20px;
	margin-top: 15px;
}
#topCart{
	height: 63.5px;
	font-size:25px;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	position: relative;
	top: 3px;
}
#menu{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-right: 0px;
	height: 45px;
	text-aling: center;
}
#menu_end{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-right: 0px;
	height: 45px;
	text-aling: center;
}
#smenu{
	position: relative;
	top: 10px;
}
#amenu{
	text-decoration-line: none;
	color : #000000;
	
}
#amenu:hover{
	color:#989191;
}
.bi-cart2{
	color:#000000;
}
.top{
       position: fixed;
       bottom: 50px;
       right: 50px;
       text-align: center;
     }
     #topBtn{
        text-decoration-line: none;
        color: #000000;   
     }
   .scrollNav{
   height:45px; 
   position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align:center; 
    line-height:50px; 
   	z-index:1001;
    font-weight:600;
    
}
.scmenu{
    background-color: #CB7878;
    opacity:0.9;
    height: 45px;
     
}
.login{
	word-spacing: 5px;
}
.join{
	word-spacing: 0px;
}
.cart{
	word-spacing: -3px;
}
#loginName{
	color: #CB7878;
	font-weight: bold;
	text-decoration: none;
}
.search{
	border:none;
	font-size:12pt;
	height:30px;
}
#searchinput{
	border-bottom:1px solid #cbc0c0;
	display:inline-block;
	width:180px;
}
input:focus {
	outline:none;
}

/* 클래스 추가하면 가져다 대면 손모양 나옴*/
.pointer {
	cursor: pointer;
}

#cart_count, #cart_count1{
	display:none;
}

/* 클래스 붙이면 백그라운드 색상이 블링 색으로 */
.bling_color {
	background-color: #CB7878;
}
/* 로그아웃 예 버튼*/
#logout_btn {
	background-color: #CB7878;
	border-color: #CB7878;
	width:120px;
}
/* 로그아웃 아니오 버튼*/
#logout_btn_no{
	width:120px;
}

.text_center{
	text-align:center;
}	