@charset "UTF-8";
/* 메인 페이지 설정   */ 
section {
	width: 1008px;
	/* height:20000px; */
	/* border:1px solid black; */
	margin: 5px auto;
}

/* 폰트사이즈  */
.font12 {
	font-size: 12px;
}

/* 아이콘 크기 등 설정 */
.size27 {
	height: 27px;
	width: 27px;
}

.size25 {
	height: 25px;
	width: 25px;
}

/* 상품 이미지, 옵션 , 가격, 결제, 장바구니 */
.explan {
	height: 680px;
}

/* 보여지는 이미지 틀*/
.explan .image1 {
	width: 490px;
	height: 630px;
	margin: 20px 6px;
	float: left;
}

/* 커다란 이미지 */
.explan .image1 .image2 {
	width: 490px;
	height: 490px;
	margin-bottom: 15px;
}

/* 작은 이미지들 1~4 */
.explan .image1 .image3 {
	width: 100px;
	height: 100px;
	float: left;
	margin: 5px;
}

/* 이미지 옆에 이름, 옵션, 가격, 결제, 장바구니 버튼등의 큰들*/
.explan .text1 {
	width: 490px;
	height: 630px;
	margin: 20px 3px;
	float: left;
}

/* 이름, 옵션 나오는 곳*/
.explan .text1 .text2 {
	width: 468px;
	height: 480px;
	float: right;
}

/* 상품명 위에 있는 커다란 선 */
.explan .myhr {
	background-color: black;
	height: 3px;
	margin: 0px 0px 10px 0px;
}

/* 가격, 옵션 텍스트 */
.select .select-text, .explan .text2 .price1 {
	float: left;
}

/* 옵션 드롭 셀릭트 박스  */
.select .form-select {
	width: 70%;
}

/* 옵션을 선택하면 표시되는 곳 */
.explan .text1 .text2 .select-result {
	width: 100%;
	height: 270px;
	overflow: auto;
}

/* 옵션에 선택시 나오는 박스 크기 */
.option_box {
	width: 100%;
	height: 45px;
	padding-top: 3px;
	border-bottom: 1px solid #BEB5B5;
}

/* 옵션 선택 박스 안에 있는 테이블 크기*/
.option_tb1 {
	width: 220px;
}

/* 옵션의 숫자를 조절 하는 단추 컨트롤러 */
.option_tb2 {
	width: 100px;
	text-align: light;
}

/* 선택한 옵션들에 대한 종합 가격 */
.explan .text1 .text2 .select-price {
	text-align: right;
	height: 30px;
	margin: 5px 70px 10px 0px;
}

/* 버튼들 위치 가운데 */
.explan .text2 .btn-two {
	text-align: center;
}

/* 바로구매 버튼 */
.explan .text2 .btn-two .btn-danger {
	background-color: #CB7878;
	border: 1px solid #CB7878;
	width: 160px;
}

/* 장바구니 버튼 */
.explan .text2 .btn-two .btn-light {
	width: 160px;
}

/* 하트 아이콘  */
.bi-suit-heart, .bi-suit-heart-fill {
	font-size: 25px;
	color: red;
}

/* explan밑에 있는 hr줄의 마진  */
.explan-bottom {
	margin-bottom: 20px;
}

/* 상세정보 후기 상품문의 구매가이드  바*/
.detail-nav {
	text-align: center;
	font-size: 20px;
	margin: 20px auto;
	padding: 20px;
	border-bottom: 1px solid #BEB5B5;
}

/* 상세정보, 후기, 상품문의, 구매가이드  */
.detail-nav-1 {
	margin: 20px;
}

/* 상세정보 이미지 가운데로 */
.detail-image, .detail-guide {
	text-align: center;
}

/* 평점 평균, 개별 평점, 사진10개 */
.detail-review-view {
	width: 990px;
	height: 250px;
	margin: 5px auto;
	/*	border:1px solid black; */
	padding: 20px;
}

/* 평점 평균 나오는곳 과 전체리뷰 수*/
.detail-review-view .review-average {
	width: 125px;
	height: 125px;
	float: left;
	text-align: center;
	margin: 50px 50px;
}

/* 평점평균 나오는 곳 */
.detail-review-view .review-average .review-average1 {
	width: 125px;
	height: 100px;
	background-color: black;
	color: white;
	font-size: 65px;
}

/* 개별 평점 */
.detail-review-view .review-score {
	float: left;
	width: 200px;
	height: 150px;
	margin-top: 37px;
}

/* 평점 안에 들어가 있는 prograce 바 */
.review-score .file {
	height: 16px;
	vertical-align: middle;
}

/* 이미지 10개 틀 */
.detail-review-view .review-image {
	width: 500px;
	height: 200px;
	float: right;
	margin: 0px;
}

/* 후기 개별 이미지들, 리뷰 이미지 2개 */
.review-image1 {
	width: 90px;
	height: 90px;
	float: left;
	margin: 3px;
}

/* 리뷰 리스트 테이블 */
#review_table {
	width: 986;
	/* height:440px; */
	margin: 5px auto;
	/*	border:1px solid black; */
}

/* 각 리뷰들의 높이 */
.review_tr {
	height: 120px;
	font-size: 15px;
}

/* 리뷰 안에 들어가는 별의 크기와 색깔 */
.bi-star-fill {
	font-size: 10px;
	color: #CB7878;
}

/*  페이징 번호들을 붙이기 위해서 */
.page-item {
	padding: 0px;
}

/* 상품문의  크기와 높이*/
#detail-Inquiry {
	width: 986;
	margin: 5px auto;
}

/* 상품문의 하기 버튼 */
#btn-question{
	background-color: #CB7878;
	border: 1px solid #CB7878;
	width: 130px;
	float: right;
}

/* 모달 버튼 */
#modal_button, #modal_button2 {
	background-color: #CB7878;
}

/* 클래스 붙이면 백그라운드 색상이 블링 색으로 */
.bling_color {
	background-color: #CB7878;
}

/* 클래스 추가하면 텍스트 센터*/
.text_align {
	text-align: center;
}

/* 클래스 추가하면 가져다 대면 손모양 나옴*/
.pointer {
	cursor: pointer;
}
.div_height{
	height:5px;
}