<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.project.bling.mapper.customerMapper">

	<!-- 상품 pidx의 문의 총 갯수 -->
	<select id="Prduct_Question_Count" parameterType="int" resultType="int">
		SELECT count(*)  AS questionCount FROM bg_product_question 
		WHERE pidx= #{pidx}
	</select>

	<!-- 상품 디테일에서 pidx로 문의한 내용 가져오기 -->
	<select id="Product_Question" parameterType="PageMaker" resultType="CombineVO">
		SELECT bq.midx, bq.pqidx, bq.depth, bq.title, bq.comments, bg.uname, bq.rdate, bq.show_yn
		FROM bg_product_question bq
		JOIN bg_user bg ON bq.midx = bg.midx 
		WHERE pidx= #{pidx}
		ORDER BY bq.originpqidx desc, bq.depth
		Limit #{startPost},#{scri.perPageNum}
	</select>
	  
	<!-- 상품 디테일에서 로그인한 사람중에 문의를 N으로 한사람의 것을 자신은 볼 수 있게 바꾸기 --> 
	<select id="show_check" parameterType="Product_QuestionVO" resultType="Product_QuestionVO">
		SELECT title, comments, depth, pqidx FROM bg_product_question WHERE show_yn='N' AND midx=#{midx} AND pidx=#{pidx}
	</select>  
	 
	 <!-- 상문 문의 하기 내용 등록 -->
	<insert id="product_write" parameterType="Product_QuestionVO" >
		INSERT INTO bg_product_question (pqidx, originpqidx, midx, pidx, title, comments, show_yn,  rdate) 
		VALUES (#{pqidx}, #{pqidx}, #{midx}, #{pidx}, #{title}, #{comments}, #{show_yn}, now())
		
		<selectKey resultType="int" keyProperty="pqidx" order="BEFORE">
          SELECT MAX(pqidx)+1 FROM bg_product_question
       </selectKey>
	</insert> 
	
	<!-- pqidx로 문의 내용 가져오기 -->
	<select id="product_question_one" parameterType="int" resultType="Product_QuestionVO">
		SELECT title, comments, pidx, pwd, pqidx FROM bg_product_question WHERE pqidx=#{pqidx}
	</select>
	
	<!-- 문의 내역 수정하기 -->
	<update id="product_modify" parameterType="Product_QuestionVO">
		UPDATE bg_product_question SET title=#{title}, comments=#{comments}
		WHERE pqidx = #{pqidx}
	</update>
	
	<!-- 일반문의 하기 midx로 샀던 상품 60일전꺼까지 조회-->
	<select id="product_select" parameterType="int" resultType="CombineVO">
		<![CDATA[
			SELECT pr.PNAME, op.ONAME, im.MAIN, bor.RDATE, od.detail_idx
			FROM bg_order bor 
			JOIN BG_ORDER_DETAIL od ON bor.ORDER_IDX = od.ORDER_IDX
			JOIN bg_option op ON od.oidx = op.oidx
			JOIN bg_product pr ON op.pidx = pr.pidx
			JOIN bg_image im ON pr.pidx = im.pidx
			WHERE midx=#{midx} AND bor.rdate >= date_add(now(), interval -2 month)
		]]>
	</select>
	
	<!-- detail_idx로 상품 이름, 옵션 이름 , detail_idx 조회하기 -->
	<select id="detail_idx_select" parameterType="list" resultType="CombineVO">
		SELECT od.detail_idx, op.oname, pr.pname
		FROM bg_order_detail od
		JOIN bg_option op on od.oidx = op.oidx
		JOIN bg_product pr on op.pidx = pr.pidx 
		WHERE detail_idx in (
		<foreach collection="list" item="item" separator=",">
			#{item}
		</foreach> )
	</select>
	
	<!-- 문의하기에서 문의하기 등록 -->
	<insert id="question_write" parameterType="QuestionVO">
	
		<if test="detail_idx == 0">
		INSERT INTO bg_question (qidx, originqidx, midx, category, title, content)
		VALUES (#{qidx}, #{qidx}, #{midx}, #{category}, #{title}, #{content})
		</if>
		<if test="detail_idx != 0">
		INSERT INTO bg_question (qidx, originqidx, midx, category, title, content, detail_idx)
		VALUES (#{qidx}, #{qidx}, #{midx}, #{category}, #{title}, #{content}, #{detail_idx} )
		</if>
		
		<selectKey resultType="int" keyProperty="qidx" order="BEFORE">
          SELECT MAX(qidx)+1 FROM bg_question
       </selectKey>
       
	</insert>
	
	<!-- 반복되는 쿼리문 -->
	<sql id="keyword">
		<if test="scri.keyword != null">
			AND subject LIKE CONCAT('%',#{scri.keyword},'%') OR contents LIKE CONCAT('%',#{scri.keyword},'%')
			</if>
	</sql>
	
	<!-- 고객센터 문의하기 총 갯수-->
	<select id="Question_Count" parameterType="PageMaker" resultType="int">
		SELECT count(*) FROM bg_notice WHERE type='Q'
		<include refid="keyword"></include>
	</select>
	
	
	<!-- 고객센터 페이징 -->
	<select id="Question_page" parameterType="PageMaker" resultType="NoticeVO">
		SELECT nidx, subject, contents, rdate FROM bg_notice WHERE type='Q'
			 <include refid="keyword"></include>
		Limit #{startPost},#{scri.perPageNum} 	
	</select> 
	
	<select id="question_list" parameterType="int" resultType="QuestionVO">
	<![CDATA[	SELECT rownum,title,rdate,qidx,depth from(select @rownum:=@rownum + 1 as rownum,
			    t1.*
				FROM bg_question t1,
			    (SELECT @rownum:=0) tmp
			    WHERE midx =#{midx} ORDER BY originqidx asc)sub
							   
    ]]>
	</select>
	
	<select id="myquestion_detail" parameterType="int" resultType="QuestionVO">
	<![CDATA[	SELECT a.qidx,a.title,a.content, a.rdate,b.oname,d.pname
   				FROM bg_question a LEFT JOIN bg_order_detail c ON a.detail_idx=c.detail_idx 
                LEFT JOIN bg_option b ON c.oidx=b.oidx
                LEFT JOIN bg_product d ON b.pidx=d.pidx 
                WHERE qidx=#{qidx}
    ]]>
	</select>
	
	<delete id="myquestion_delete" parameterType="int">
		
		<![CDATA[
		DELETE FROM bg_question WHERE qidx = #{qidx}
		  ]]>
	</delete>
	<select id="pruduct_question_list" parameterType="int" resultType="QuestionVO">
	<![CDATA[	SELECT rownum,title,rdate,pqidx,depth from(select @rownum:=@rownum + 1 as rownum,
			    t1.*
				FROM bg_product_question t1,
			    (SELECT @rownum:=0) tmp
			    WHERE midx =#{midx} ORDER BY originpqidx asc)sub;
    ]]>
	</select>
	
	
</mapper>