<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.project.bling.mapper.eventMapper">

	<!-- 홈화면 이벤트슬라이드-->
	<select id="eventlist" resultType="EventVO">
		<![CDATA[
			SELECT * FROM bg_event
			WHERE sysdate() <= event_end 
		]]>	
	</select>
	
	<!-- 이벤트 리스트 갯수 -->
	<select id="event_Count_tot" resultType="int">
		<![CDATA[
			SELECT count(eidx),eidx
			FROM bg_event
		]]>
	</select>
	<select id="event_Count_ing" resultType="int">
		<![CDATA[
			SELECT count(eidx)
			FROM bg_event
			WHERE sysdate() <= event_end  
		]]>
	</select>
	<select id="event_Count_end" resultType="int">
		<![CDATA[
			SELECT count(eidx)
			FROM bg_event
			WHERE sysdate() > event_end 
		]]>
	</select>
	
	<!-- 이벤트 리스트 -->
	<select id="event_Total" resultType="EventVO" parameterType="PageMaker">
		SELECT *
		FROM bg_event
		<!-- 전체옵션 -->	
		<if test = 'type == "ing"'>
			where 1=1
		</if>
		<!-- 진행중옵션 -->	
		<if test = 'type == "ing"'>
			<![CDATA[
				WHERE sysdate() <= event_end 
			]]>
		</if>
		<!-- 종료옵션 -->
		<if test = 'type == "end"'>
			<![CDATA[
				WHERE sysdate() > event_end 
			]]>
		</if>		
		ORDER BY eidx desc
		Limit #{startPost}, 3
	</select>
	
	<!-- 이벤트 detail -->
	<select id="detail" resultType="EventVO" parameterType="int">
		SELECT *
		FROM bg_event
		WHERE eidx=#{eidx}
	</select>
</mapper>