<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.bling.mapper.visitcountMapper">
	
	
	<!-- 방문자수 count -->
	<insert id="visiter">
		insert into bg_visit value(now())
	</insert>
	
	
	
	
	
	
	<select id="todayvisit" resultType="CombineVO">
		select count(*) as count from bg_visit where date(rdate) = curdate() union all
		select count(*) as count from bg_visit where date(rdate) = curdate() -1 union all
		select count(*) as count from bg_visit where date(rdate) = curdate() -2 union all
		select count(*) as count from bg_visit where date(rdate) = curdate() -3 union all
		select count(*) as count from bg_visit where date(rdate) = curdate() -4 union all
		select count(*) as count from bg_visit where date(rdate) = curdate() -5 union all
		select count(*) as count from bg_visit where date(rdate) = curdate() -6 union all
		select count(*) as count from bg_visit where rdate between date_add(now(),interval -1 week) and now() union all
		select count(*) as count from bg_visit where rdate between date_add(now(),interval -15 day) and now() union all
		select count(*) as count from bg_visit where rdate between date_add(now(),interval -30 day) and now() 
	</select>

</mapper>